# Configuración del servidor
PORT=4000

# Configuración de Google Cloud BigQuery
PROJECT_ID=tfg-cinema-bi
DATASET_ID=dwh_cinema

# Ruta al archivo de credenciales de Service Account
GOOGLE_APPLICATION_CREDENTIALS=./credenciales_gcp.json
